@use '../_colors.scss';
@import "../variables";

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2em;
  width: 100%;
  min-height: 280px;
  background: no-repeat center bottom / 100% auto url('../../../public/footer.svg');

  p {
    font-size: 0.9rem;
    order: 1;
    margin: 0 0 0.5rem;
    color: colors.$white;
  }

  @media (min-width: 500px) {
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

    p {
      order: unset;
      margin: 0 1rem;
      font-size: 1rem;
    }
  }
}

.social-links {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0 1rem;

  li {
    a {
      background-image: none;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 44px;
      min-height: 44px;
      padding: 0.5em;

      span {
        margin-left: 0.5em;
        font-size: 1.15rem;
      }
    }
  }

  svg {
    width: 22px;
    height: 22px;
  }
}